APP_URL = https://admin.zfinancesdrc.com

DB_USER = zfinance

DB_MDP = zfinance

DB_NAME = zfinance

DB_SGBD = mysql

DB_HOST = localhost:3306

FRONT_APP = https://zfinancesdrc.com/

FRONT_SOUS_APP = https://www.zfinancesdrc.com/